.dropdown-toggle {
  background-color: #ffffff !important;
  color: #3f3b3b !important;
  border-color: #ffffff !important;
  font-size: 18px !important;
}

/* Customize the menu */
.dropdown-menu {
  background-color: #f8f9fa !important;
  font-size: 16px;
  border: 1px solid #ced4da !important;
  border-radius: 0 !important;
  box-shadow: none !important;
}

/* Customize the items */
.dropdown-item {
  color: #212529 !important;
}

/* Hover and active states */
.dropdown-item:hover,
.dropdown-item.active {
  background-color: #FD6E00 !important;
  color: #fff !important;
}
.btn:focus{
	box-shadow:none!important;
}
   @media screen and (max-width:1000px){
    .dropdown {
         display :flex; 
         justify-content:center !important;
       }
     }
     
    
    @media screen and (max-width: 1000px) {
     .dropdown .dropdown-menu {
    left:50% !important;
    transform:translateX(-50%) !important;
       }
     }