<web-app xmlns="https://jakarta.ee/xml/ns/jakartaee"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_5_0.xsd" version="5.0">


    <servlet>
        <servlet-name>Search</servlet-name>
        <servlet-class>gov.iti.toycat.controllers.SearchProductController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Search</servlet-name>
        <url-pattern>/search</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>Allproducts</servlet-name>
        <servlet-class>gov.iti.toycat.controllers.AllProductsController</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>Allproducts</servlet-name>
        <url-pattern>/allproducts</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>Category</servlet-name>
        <servlet-class>gov.iti.toycat.controllers.CategoryController</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>Category</servlet-name>
        <url-pattern>/category</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>Products</servlet-name>
        <servlet-class>gov.iti.toycat.controllers.ProductListController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Products</servlet-name>
        <url-pattern>/products</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>logIn</servlet-name>
        <servlet-class>gov.iti.toycat.controllers.LoginController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>logIn</servlet-name>
        <url-pattern>/login</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>register</servlet-name>
        <servlet-class>gov.iti.toycat.controllers.RegisterController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>register</servlet-name>
        <url-pattern>/register</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>checkEmailExistatnce</servlet-name>
        <servlet-class>gov.iti.toycat.controllers.EmailRegistrationController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>checkEmailExistatnce</servlet-name>
        <url-pattern>/email</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>Home</servlet-name>
        <servlet-class>gov.iti.toycat.controllers.HomeController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Home</servlet-name>
        <url-pattern>/home</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>Logout</servlet-name>
        <servlet-class>gov.iti.toycat.controllers.LogoutController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Logout</servlet-name>
        <url-pattern>/logout</url-pattern>
    </servlet-mapping>
    <listener>
        <listener-class>
            gov.iti.toycat.listeners.ContextListener
        </listener-class>
    </listener>
    <welcome-file-list>
        <welcome-file>jsp/index.jsp</welcome-file>
    </welcome-file-list>

</web-app>